*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, #C0E6C6, #87F0AB, #7DDBCD,#83B8F0,#B0DAE6 );
}

.container{
    position: relative;
    display: block;
    text-align: center;
    margin: 5%;
    margin-left:23%;
    margin-bottom: 15px; 
    padding: 20px;
    padding-top: 10px;
    width: 50%;
    height: 400px;
}
.opacity{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;
    top:0;
    left: 0;
    opacity: .2;
    z-index: -1;
    background-color: white;
}
h1{
    padding-top: 15px;
}
p{
    font-size: 18px;
    padding-bottom: 10px;
}
#btnAdd{
    margin-top: 15px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5%;
    border: none;
    background-color:#2A9A9A ;
    color: white;
}
#btnAdd:hover{
    background-color: #2E4D4D;
}
#btnSort{
    display: inline;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5%;
    border: none;
    background-color:#2A9A9A ;
    color: white;
}
#btnSort:hover{
    background-color: #2E4D4D;
}
#btnVoltar{
    display: inline;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5%;
    border: none;
    background-color:#2A9A9A ;
    color: white;
}
#btnVoltar:hover{
    background-color: #2E4D4D;
}
#btnClear{
    display: inline;
    margin-top: 15px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5%;
    border: none;
    background-color:#2A9A9A ;
    color: white;
}
#btnClear:hover{
    background-color: #2E4D4D;
}
#names{
    width: 300px;
    height: 22px;
    padding: 2px;
    padding-top: 5px;
}
footer{
    display: block;
    text-align: center;
    margin: 25px;
    margin-top: 0px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:rgb(6, 49, 33);
}

@media screen and (max-width: 800px) {
    .container{
        margin: auto;
        margin: 10%;
        margin-bottom: 15px;
        padding: 20px;
        padding-top: 10px;
        width: 80%;
        height: 450px;
    }

}